// * {
//   background-color: rgb(170, 248, 181);
// }

//variables

$padding: 1.25em;
$rubik: "Rubik", sans-serif;
$small-font: 12pt;

html {
  height: 100vh;
}

body {
  background: #f8f8f0;
  margin: 0;
  height: 100vh;
  font-family: $rubik;
  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

button {
  font-family: $rubik;
  font-size: 12pt;
  &:hover {
    background: #022ea8;
    color: white;
  }
  border: none;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em;
  background: #95dbe5;
  width: fit-content;
  max-width: 200px;
}

nav {
  // background: #56abcb;
  max-height: 10vh;
  padding: 2em 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    font-size: 16pt;
    color: #022ea8;
    &:hover {
      color: #ec360d;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  #upperRight {
    max-width: 90%;
    min-width: 40%;
    a {
      padding-left: 1em;
    }
    .navDropdown {
      position: relative;
      font-size: 16pt;
      color: #022ea8;

      display: flex;

      flex-direction: column;
      &:hover {
        color: #ec360d;
      }
      .navDropContent {
        display: none;
        z-index: 1;
        position: absolute;
        top: 1.2em;
        a {
          display: block;
          padding: 5px 0;
          font-size: 12pt;
        }
      }
      &:hover {
        .navDropContent {
          z-index: 1;
          display: flex;
          flex-direction: column;
          background: #f8f8f0;
          border: 2px solid #ec360d;
          border-radius: 10px;
          padding: 3px;
          color: #ec360d;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

footer {
  background: #4059ad;
  color: #567bcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  max-height: 250px;
  padding: $padding;
  div {
    display: flex;
    flex-direction: column;
  }
  #bottomRight {
    flex-direction: row;
    flex-wrap: wrap;

    div {
      padding: 0 0.5em;
    }
  }
  a {
    display: flex;
    align-items: center;
    font-size: 20pt;
    padding-bottom: 5px;
    color: #022ea8;
    &:hover {
      color: #339e66;
    }
  }
  p {
    margin: 10px 0;
  }
}

form {
  display: flex;
  flex-direction: column;

  padding: 10px;
  label {
    margin: 0.5em 0;
  }
  input {
    max-width: 200px;
  }

  select {
    max-width: 200px;
  }
}

.loginSignup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
  height: 30vh;
  width: 60%;
  margin: 3em 0 0 30%;
  padding: $padding;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    max-width: 200px;

    border: 2px solid #ec360d;
    border-radius: 10px;
    button {
      margin: 1.5em 0 0;
    }
    h1 {
      margin: 0 0 0.5em;
    }
  }

  #signup {
    margin-top: 1em;
    font-size: 14pt;
    background: #5ccc92;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em;
    &:hover {
      background: #339e66;
      color: white;
    }
  }
  a {
    padding: 0.5em 0;
    &:hover {
      color: #ec360d;
    }
  }
}

.loginSignup {
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;
  height: 30vh;
  width: 60%;
  margin: 3em 0 0 30%;
  padding: $padding;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    max-width: 200px;

    border: 2px solid #ec360d;
    border-radius: 10px;
    button {
      margin: 1.5em 0 0;
    }
    h1 {
      margin: 0 0 0.5em;
    }
  }

  #signup {
    margin-top: 1em;
    font-size: 14pt;
    background: #5ccc92;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em;
    &:hover {
      background: #339e66;
      color: white;
    }
  }
  a {
    padding: 0.5em 0;
    &:hover {
      color: #ec360d;
    }
  }
}

.main {
  z-index: 0;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-evenly;
  min-height: 50vh;
  max-height: 70vh;
  padding: $padding;

  h1 {
    padding: 0 1em;
  }
}
#daily {
  display: flex;
  flex-wrap: wrap;
}

.home {
  padding: 0 2em;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  min-height: 50vh;
  max-height: 70vh;
  div {
    max-width: 30vw;
  }
  .mainHomepageArea {
    img {
      max-width: 30vw;
    }
  }
  h2 {
    max-width: 40vw;
  }
  button {
    font-size: 16pt;
  }
  #checkin {
    background: #5ccc92;

    &:hover {
      background: #339e66;
      color: white;
    }
  }
}

.column {
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 45%;
  text-align: center;
  align-items: center;

  h3 {
    font-size: 18pt;
  }

  .listItem {
    border-bottom: 2px solid #339e66;

    padding: 0.5em;
  }

  .modal {
    width: 70%;
    height: 100%;
    padding: 2em;
  }
}
.daily {
  display: flex;
  flex-wrap: wrap;
}
.dailyColumn {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 250px;
  padding: 10px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  background: white;
  width: fit-content;
  max-width: 60%;
  min-width: 300px;
  margin: 3em auto;
  padding: 2em;
  border: 3px solid #022ea8;
}

.close {
  font-family: "Nunito", sans-serif;
  align-self: flex-end;
  text-align: center;
  padding: 6px 10px 5px;
  width: fit-content;
  height: auto;
  border-radius: 20px;
  background: #fc9780;
  &:hover {
    background: #ec360d;
    color: white;
  }
}

.bigButton {
  font-size: 20pt;
  background: #5ccc92;
  border: none;
  padding: none;
  &:hover {
    background: #339e66;
    color: white;
  }
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  width: fit-content;
  // max-width: 40vw;
  // padding: 0 2em;

  box-shadow: inset 0 0 10px #1f201f;
  align-items: center;
  margin-bottom: 1em;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ec360d;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    &:window-inactive {
      background: rgba(255, 0, 0, 0.4);
    }
  }

  .form-carousel__container {
    border: 1px solid black;
  }

  .form-carousel {
    transition: height 0.6s;
  }

  .form-carousel__page {
    padding: 10px;
    text-align: center;
  }

  .form-carousel__nav-container {
    padding: 10px;
    padding-top: 0;
    text-align: center;
  }

  .form-carousel__nav-container button {
    padding: 2px 5px;
    margin: 0 5px;
    width: 100px;
  }

  .form-carousel__nav-container button.hide {
  }
}

@media (max-width: 900px) {
  .dailyColumn {
    // display: flex;
    // flex-direction: column;
    width: fit-content;
    max-width: 45%;
    text-align: center;
    align-items: center;
  }
  .daily {
    overflow-y: scroll;
    overflow-x: hidden;

    max-width: 45vw;
    max-height: 60vh;
    padding: 0 2em;

    box-shadow: inset 0 0 10px #1f201f;
    align-items: center;
    margin-bottom: 1em;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #ec360d;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      &:window-inactive {
        background: rgba(255, 0, 0, 0.4);
      }
    }
  }

  .dailyColumn {
    font-size: 10pt;
    padding: 0 1em 0 0;
  }

  #daily {
    h1 {
      font-size: 14pt;
    }
  }
  footer {
    height: 12vh;
    max-height: 240px;
    a {
      font-size: $small-font;
    }
    #bottomRight {
      // max-width: 50%;
      a {
        font-size: 14pt;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    height: 95vh;
    #root {
      justify-content: space-between;
    }
  }
  nav {
    justify-content: space-around;
    padding: 1em 0.5em 0;
    a {
      font-size: 10pt;
    }

    #upperRight {
      .navDropdown {
        font-size: 10pt;
        .navDropContent {
          a {
            font-size: 8pt;
          }
        }
      }
    }
  }

  .loginSignup {
    margin: 2em 1em 1em;
    height: fit-content;
  }
  .column {
    h3 {
      font-size: $small-font;
    }
  }

  .bigButton {
    font-size: 16pt;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer {
    height: 20vh;
    width: 100vw;
    max-height: 240px;
    // a {
    //   font-size: $small-font;
    // }
    #bottomRight {
      max-width: 50%;
      a {
        font-size: 10pt;
      }
    }
  }
}
.react-calendar-heatmap .color-scale-1 {
  fill: #c8c4fd;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #9089fb;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #6c62f9;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #473af8;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #2213f6;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #1608d9;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #1206b1;
}
.react-calendar-heatmap .color-scale-8 {
  fill: #10069d;
}
.react-calendar-heatmap .color-scale-9 {
  fill: #0e058a;
}
.react-calendar-heatmap .color-scale-10 {
  fill: #0c0476;
}

.colorDate {
  background: #2213f6;
  color: white;
}

.regDate {
  background: #95dbe5;
}
